a {
  text-decoration: none !important;
  color: inherit !important;
}
span.badge.bg-primary {
  background-color: inherit !important;
}

.dropdown-menu {
  right: 0 !important;
  left: inherit !important;
}
